@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');



/*--Logo--*/

.img-container {
    margin-top:65px;
}

/*--Main styling--*/
.container {
    width:100%;
}


/*--Navigation styling--*/
.navbar {min-height: 80px;
         background: #fff;
         }

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: #fff !important;
}

.img-container {
        text-align: center;
        display: block;
      }

.navbar a{
     font-family:Lora!important;
     font-size: 16px !important;
     color:#000}

.nav-item li {
    font-family:Lora;
    color: #000;
}

li {
    margin-right: 20px;
    color: #000;
}
.nav2 li {
    margin-right: 5px;
    color: #000;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: #fff !important;
    }



/*--Intro section--*/
.intro h5 {
    font-family: 'Lora', sans-serif;
}

.intro p {
    font-family: 'Hind Madurai', sans-serif;
}

/*--About section--*/
.about h4 {
    font-family: 'Lora', sans-serif;
}

.about p {
    font-family: 'Hind Madurai', sans-serif;
}

.about li {
    font-family: 'Hind Madurai', sans-serif;
}

.instructors h4 {
    font-family: 'Lora', sans-serif;
}

.team-bio p {
    font-family: 'Hind Madurai', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

.team-bio b {
    font-family: 'Hind Madurai', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

.team-bio {
    overflow: hidden;
}

/*--card--*/

.card-body p {
    font-family: 'Hind Madurai', sans-serif;
    font-size:14px;
}

.card {
    height: 100%;
}

/*--lessons--*/
.lessons h4{
     font-family: 'Lora', sans-serif;
}

.lessons p {
    font-family: 'Hind Madurai', sans-serif;
    font-size:15px;
}

.list-group-item {
    font-family: 'Hind Madurai', sans-serif;
    font-size:14px;
}

.lesson-image {
    margin-bottom:30px;
}


/*--Contact form--*/
.contact-us {
    padding-bottom: 10px;
}

.contact-us h4 {
    font-family: 'Lora', sans-serif;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #737373;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #5a5a5a;
}


.container-form {
  border-radius: 5px;
  background-color: #e9e5e5;
  padding: 20px;
}

.contact-information {
    font-family: 'Hind Madurai', sans-serif;
    font-size:14px;
}

/*--Footer styling--*/

.site-footer
{
  background-color:#E5C09D;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#737373;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#b9babe;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#737373
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#b9babe;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#2f2f30
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.instagram:hover
{
  background-color:#e948d3
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

div.intro {
    font size: 10px;
}

}